.like-button {
    width: 22px;
    cursor: pointer;
    background: url(../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    border: none;
    box-shadow: none;
}