.popup__input-error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 5px 0;
    padding: 0;
    display: none;
    width: 100%;
    max-width: 358px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


@media (max-width: 768px) {
    .popup__input-error {
        max-width: 238px;
    }
 }